/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
        font-family: "Open Sans", sans-serif;
        color: #444444;
}

a {
        color: red;
        text-decoration: none;
}

a:hover {
        color: #73c5eb;
        text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
        font-family: "Jost", sans-serif;
}


/*===== Header =====*/
/* the whole header, which includes the navbar and logo */
#header {
        transition: all 0.5s;
        z-index: 997;
        padding: 15px 0;
}

/* the logo itself */
#header .logo {
        font-size: 30px;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
}

/* the a (href) class */
#header .logo a {
        color: black;
}


/*====== Navigation Bar =====*/
.navbar {
        padding: 0;
}

.navbar ul {
        margin: 0;
        padding: 0;
        /* By using display flex in parent elements, child elements automatically align like columns or rows with auto width and auto height */
        display: flex;
        /* automatically aligns the list to be horizontal due to the navbar being horizontal */
        list-style: none;
        /* gets rid of the bullet points */
        align-items: center;
        /* aligns all items to be in a perfectly horizontal */
}

.navbar li {
        position: relative;
}

.navbar a,
.navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-size: 15px;
        font-weight: 500;
        color: black;
        white-space: nowrap;
        transition: 0.3s;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
        color: #47b2e4;
}

.navbar .signup,
.navbar .signin,
.navbar .signup:focus,
.navbar .signin:focus {
        padding: 8px 20px;
        margin-left: 30px;
        border-radius: 50px;
        color: green;
        font-size: 14px;
        border: 2px solid #47b2e4;
        font-weight: 600;
}

.navbar .signup:hover,
.navbar .signin:hover,
.navbar .signup:focus:hover,
.navbar .signin:focus:hover {
        color: red;
        background: #31a9e1;
        font-size: 20px;
}